In [224]:
import pandas as pd
import numpy as np

In [225]:
df = pd.read_csv('data.csv')
df

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
0,0,alfa-romeo,Alfa Romeo GTV,red,Oct-95,1995,1300,148,201,Manual,Petrol,"10,9 l/100 km",260 g/km,160500.0,2.0 V6 TB
1,1,alfa-romeo,Alfa Romeo 164,black,Feb-95,1995,24900,191,260,Manual,Petrol,NaN,#NAME?,190000.0,"Q4 Allrad, 3.2L GTA"
2,2,alfa-romeo,Alfa Romeo Spider,black,Feb-95,1995,5900,110,150,Unknown,Petrol,NaN,#NAME?,129000.0,ALFA ROME 916
3,3,alfa-romeo,Alfa Romeo Spider,black,Jul-95,1995,4900,110,150,Manual,Petrol,"9,5 l/100 km",225 g/km,189500.0,2.0 16V Twin Spark L
4,4,alfa-romeo,Alfa Romeo 164,red,Nov-96,1996,17950,132,179,Manual,Petrol,"7,2 l/100 km",#NAME?,96127.0,"3.0i Super V6, absoluter Topzustand !"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251074,251074,volvo,Volvo XC40,white,Apr-23,2023,57990,192,261,Automatic,Hybrid,NaN,43 km Reichweite,1229.0,Plus Bright T5 Recharge Intellisafe*Surround+P...
251075,251075,volvo,Volvo XC90,white,Mar-23,2023,89690,173,235,Automatic,Diesel,"7,6 l/100 km",202 g/km,4900.0,B5 AWD Diesel Ultimate Dark 7-Sitzer Massage F...
251076,251076,volvo,Volvo V60,white,May-23,2023,61521,145,197,Automatic,Diesel,"4,7 l/100 km",125 g/km,1531.0,"B4 D Plus Dark 145 kW, 5-türig (Diesel)"
251077,251077,volvo,Volvo XC40,white,May-23,2023,57890,132,179,Automatic,Hybrid,NaN,45 km Reichweite,1500.0,T5 Recharge Plus Dark *Standh*360°*beh.Lenk
251078,251078,volvo,Volvo XC40,gold,Mar-23,2023,52900,160,218,Automatic,Electric,NaN,438 km Reichweite,50.0,Ultimate Recharge Twin Motor AHK GJR

In [226]:
df.shape

(251079, 15)

In [227]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251079 entries, 0 to 251078
Data columns (total 15 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                251079 non-null  int64
 1   brand                     251079 non-null  object
 2   model                     251079 non-null  object
 3   color                     250913 non-null  object
 4   registration_date         251075 non-null  object
 5   year                      251079 non-null  object
 6   price_in_euro             251079 non-null  object
 7   power_kw                  250945 non-null  object
 8   power_ps                  250950 non-null  object
 9   transmission_type         251079 non-null  object
 10  fuel_type                 251079 non-null  object
 11  fuel_consumption_l_100km  224206 non-null  object
 12  fuel_consumption_g_km     251079 non-null  object
 13  mileage_in_km             250927 non-null  float64
 14  offer_description         251078 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 28.7+ MB

In [228]:
df.describe()

          Unnamed: 0  mileage_in_km
count  251079.000000   2.509270e+05
mean   125539.000000   8.534002e+04
std     72480.408456   7.871706e+04
min         0.000000   0.000000e+00
25%     62769.500000   2.490400e+04
50%    125539.000000   6.750000e+04
75%    188308.500000   1.265000e+05
max    251078.000000   3.800000e+06

In [229]:
df.drop('Unnamed: 0', inplace=True, axis=1)

In [230]:
pd.unique(df['brand'])

array(['alfa-romeo', 'aston-martin', 'audi', 'bentley', 'bmw', 'cadillac',
       'chevrolet', 'chrysler', 'citroen', 'dacia', 'daewoo', 'daihatsu',
       'dodge', 'ferrari', 'fiat', 'ford', 'honda', 'hyundai', 'infiniti',
       'isuzu', 'jaguar', 'jeep', 'kia', 'lada', 'lamborghini', 'lancia',
       'land-rover', 'maserati', 'mazda', 'mercedes-benz', 'mini',
       'mitsubishi', 'nissan', 'opel', 'peugeot', 'porsche', 'proton',
       'renault', 'rover', 'saab', 'seat', 'skoda', 'smart', 'ssangyong',
       'toyota', 'volkswagen', 'volvo'], dtype=object)

In [231]:
df['brand'].replace('-', '', inplace=True, regex=True)
df['model'].replace(' ', '', inplace=True, regex=True)
df['model'].replace('-', '', inplace=True, regex=True)
df['brand'] = df['brand'].apply(str.upper)
df['model'] = df['model'].apply(str.upper)

In [232]:
for index, row in df.iterrows():
    brand = row['brand']
    model = row['model']
    new_model = model.replace(brand, '')
    df.at[index, 'model'] = new_model
df.tail()

,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
251074,VOLVO,XC40,white,Apr-23,2023,57990,192,261,Automatic,Hybrid,NaN,43 km Reichweite,1229.0,Plus Bright T5 Recharge Intellisafe*Surround+P...
251075,VOLVO,XC90,white,Mar-23,2023,89690,173,235,Automatic,Diesel,"7,6 l/100 km",202 g/km,4900.0,B5 AWD Diesel Ultimate Dark 7-Sitzer Massage F...
251076,VOLVO,V60,white,May-23,2023,61521,145,197,Automatic,Diesel,"4,7 l/100 km",125 g/km,1531.0,"B4 D Plus Dark 145 kW, 5-türig (Diesel)"
251077,VOLVO,XC40,white,May-23,2023,57890,132,179,Automatic,Hybrid,NaN,45 km Reichweite,1500.0,T5 Recharge Plus Dark *Standh*360°*beh.Lenk
251078,VOLVO,XC40,gold,Mar-23,2023,52900,160,218,Automatic,Electric,NaN,438 km Reichweite,50.0,Ultimate Recharge Twin Motor AHK GJR

In [233]:
df['model'].replace('', np.nan, inplace=True, regex=True)
df.drop('registration_date', inplace=True, axis=1)
df.drop('power_kw', inplace=True, axis=1)
df.drop('offer_description', inplace=True, axis=1)
df.head(10)

,brand,model,color,year,price_in_euro,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km
0,ALFAROMEO,GTV,red,1995,1300,201,Manual,Petrol,"10,9 l/100 km",260 g/km,160500.0
1,ALFAROMEO,164,black,1995,24900,260,Manual,Petrol,NaN,#NAME?,190000.0
2,ALFAROMEO,SPIDER,black,1995,5900,150,Unknown,Petrol,NaN,#NAME?,129000.0
3,ALFAROMEO,SPIDER,black,1995,4900,150,Manual,Petrol,"9,5 l/100 km",225 g/km,189500.0
4,ALFAROMEO,164,red,1996,17950,179,Manual,Petrol,"7,2 l/100 km",#NAME?,96127.0
5,ALFAROMEO,SPIDER,red,1996,7900,150,Manual,Petrol,"9,5 l/100 km",225 g/km,47307.0
6,ALFAROMEO,145,red,1996,3500,150,Manual,Petrol,"8,8 l/100 km",210 g/km,230000.0
7,ALFAROMEO,164,black,1996,5500,179,Manual,Petrol,"13,4 l/100 km",320 g/km,168000.0
8,ALFAROMEO,SPIDER,black,1996,8990,192,Manual,Petrol,11 l/100 km,265 g/km,168600.0
9,ALFAROMEO,SPIDER,black,1996,6976,150,Manual,Petrol,"9,2 l/100 km",220 g/km,99000.0

In [234]:
df['fuel_consumption_g_km'].replace(' g/km', '', inplace=True, regex=True)
df['fuel_consumption_g_km'].replace(' (g/km)', '', inplace=True, regex=True)
df['fuel_consumption_g_km'].replace('-', np.nan, inplace=True, regex=True)
df.head(10)

,brand,model,color,year,price_in_euro,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km
0,ALFAROMEO,GTV,red,1995,1300,201,Manual,Petrol,"10,9 l/100 km",260,160500.0
1,ALFAROMEO,164,black,1995,24900,260,Manual,Petrol,NaN,#NAME?,190000.0
2,ALFAROMEO,SPIDER,black,1995,5900,150,Unknown,Petrol,NaN,#NAME?,129000.0
3,ALFAROMEO,SPIDER,black,1995,4900,150,Manual,Petrol,"9,5 l/100 km",225,189500.0
4,ALFAROMEO,164,red,1996,17950,179,Manual,Petrol,"7,2 l/100 km",#NAME?,96127.0
5,ALFAROMEO,SPIDER,red,1996,7900,150,Manual,Petrol,"9,5 l/100 km",225,47307.0
6,ALFAROMEO,145,red,1996,3500,150,Manual,Petrol,"8,8 l/100 km",210,230000.0
7,ALFAROMEO,164,black,1996,5500,179,Manual,Petrol,"13,4 l/100 km",320,168000.0
8,ALFAROMEO,SPIDER,black,1996,8990,192,Manual,Petrol,11 l/100 km,265,168600.0
9,ALFAROMEO,SPIDER,black,1996,6976,150,Manual,Petrol,"9,2 l/100 km",220,99000.0

In [235]:
df['transmission_type'].replace('Unknown', np.nan, inplace=True, regex=True)
df.dropna(inplace=True)
df.head(10)

,brand,model,color,year,price_in_euro,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km
0,ALFAROMEO,GTV,red,1995,1300,201,Manual,Petrol,"10,9 l/100 km",260,160500.0
3,ALFAROMEO,SPIDER,black,1995,4900,150,Manual,Petrol,"9,5 l/100 km",225,189500.0
4,ALFAROMEO,164,red,1996,17950,179,Manual,Petrol,"7,2 l/100 km",#NAME?,96127.0
5,ALFAROMEO,SPIDER,red,1996,7900,150,Manual,Petrol,"9,5 l/100 km",225,47307.0
6,ALFAROMEO,145,red,1996,3500,150,Manual,Petrol,"8,8 l/100 km",210,230000.0
7,ALFAROMEO,164,black,1996,5500,179,Manual,Petrol,"13,4 l/100 km",320,168000.0
8,ALFAROMEO,SPIDER,black,1996,8990,192,Manual,Petrol,11 l/100 km,265,168600.0
9,ALFAROMEO,SPIDER,black,1996,6976,150,Manual,Petrol,"9,2 l/100 km",220,99000.0
10,ALFAROMEO,SPIDER,silver,1996,5499,192,Manual,Petrol,"11,1 l/100 km",265,157000.0
11,ALFAROMEO,SPIDER,silver,1996,8499,150,Manual,Petrol,"9,5 l/100 km",225,15550.0

In [236]:
df['year'] = pd.to_datetime(df['year'], errors='coerce')
df['year'] = df['year'].dt.year
df['fuel_type'].replace('Unknown', np.nan, inplace=True, regex=True)

In [237]:
df.dropna(inplace=True)

In [238]:
aux = df.loc[df['fuel_type'] == 'Electric', 'fuel_consumption_g_km'].tolist()
df.loc[df['fuel_type'] == 'Electric', 'electric_range'] = aux
df.loc[df['fuel_type'] == 'Electric', 'fuel_consumption_g_km'] = 0
df.loc[df['fuel_type'] == 'Electric', 'fuel_consumption_l_100km'] = 0
df.loc[df['fuel_type'] != 'Electric', 'electric_range'] = 0
df.head(10)

,brand,model,color,year,price_in_euro,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,electric_range
0,ALFAROMEO,GTV,red,1995.0,1300,201,Manual,Petrol,"10,9 l/100 km",260,160500.0,0
3,ALFAROMEO,SPIDER,black,1995.0,4900,150,Manual,Petrol,"9,5 l/100 km",225,189500.0,0
4,ALFAROMEO,164,red,1996.0,17950,179,Manual,Petrol,"7,2 l/100 km",#NAME?,96127.0,0
5,ALFAROMEO,SPIDER,red,1996.0,7900,150,Manual,Petrol,"9,5 l/100 km",225,47307.0,0
6,ALFAROMEO,145,red,1996.0,3500,150,Manual,Petrol,"8,8 l/100 km",210,230000.0,0
7,ALFAROMEO,164,black,1996.0,5500,179,Manual,Petrol,"13,4 l/100 km",320,168000.0,0
8,ALFAROMEO,SPIDER,black,1996.0,8990,192,Manual,Petrol,11 l/100 km,265,168600.0,0
9,ALFAROMEO,SPIDER,black,1996.0,6976,150,Manual,Petrol,"9,2 l/100 km",220,99000.0,0
10,ALFAROMEO,SPIDER,silver,1996.0,5499,192,Manual,Petrol,"11,1 l/100 km",265,157000.0,0
11,ALFAROMEO,SPIDER,silver,1996.0,8499,150,Manual,Petrol,"9,5 l/100 km",225,15550.0,0

In [239]:
df['fuel_consumption_l_100km'].replace('-', '', inplace=True, regex=True)
df['fuel_consumption_l_100km'].replace(' ', '', inplace=True, regex=True)
df['fuel_consumption_l_100km'].replace('kg/100km', '', inplace=True, regex=True)
df['fuel_consumption_l_100km'].replace('l/100km', '', inplace=True, regex=True)
df['fuel_consumption_l_100km'].replace('\(\)', np.nan, inplace=True, regex=True)
df['fuel_consumption_l_100km'].replace('kWh/100km', 'zzz', inplace=True, regex=True)
df['fuel_consumption_l_100km'].replace('km\(Ort\)', 'zzz', inplace=True, regex=True)
df['fuel_consumption_l_100km'] = df['fuel_consumption_l_100km'].astype(str)
df = df[df['fuel_consumption_l_100km'].str.contains('zzz') == False]

In [240]:
df = df.copy()
df['fuel_consumption_g_km'].replace('#NAME?', np.nan, inplace=True, regex=True)
df['fuel_consumption_g_km'].replace(' ', '', inplace=True, regex=True)
df['fuel_consumption_g_km'].replace('kmReichweite', '', inplace=True, regex=True)
df['fuel_consumption_g_km'].replace('9.999.999', np.nan, inplace=True, regex=True)

In [241]:
df['electric_range'].replace(' ', '', inplace=True, regex=True)
df['electric_range'].replace('kmReichweite', '', inplace=True, regex=True)
df['electric_range'] = df['electric_range'].astype(str)
df = df.drop(df[(df['fuel_type'] == 'Electric') & (df['electric_range'] == '0')].index)

In [242]:
df.dropna(inplace=True)
df['fuel_consumption_l_100km'].replace(',', '.', inplace=True, regex=True)
df['fuel_consumption_g_km'].replace(',', '.', inplace=True, regex=True)
df['price_in_euro'] = df['price_in_euro'].astype(float)
df['power_ps'] = df['power_ps'].astype(float)
df['fuel_consumption_l_100km'] = df['fuel_consumption_l_100km'].astype(float)
df['fuel_consumption_g_km'] = df['fuel_consumption_g_km'].astype(float)
df['mileage_in_km'] = df['mileage_in_km'].astype(float)
df['electric_range'] = df['electric_range'].astype(float)

In [243]:
df.to_csv('new.csv')